<% provide :title, "My Lovely Page" %>

<%= content_box :id => "my_box" do |box| %>
  <% box.navigation do |nav| %>
    <% nav.item "List People", posts_path, :active => true %>
    <% nav.item "New Person", posts_path %>
    <% nav.item "Search", posts_path %>
  <% end %>
  <% box.breadcrumbs do |crumbs| %>
    <% crumbs.item "Home", posts_path %>
    <% crumbs.item "People", posts_path %>
    <% crumbs.item "Bob Jones", posts_path, :active => true %>
  <% end %>

  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Post', new_post_path %>

<% end %>


<% content_for :sidebar do %>

  <%= sidebar_navigation class: 'well' do |nav| %>
    <%= select "report", "month", month_range, class: 'nav-list' %>
    <h4>Content from host block</h4>
  <% end %>

  <%= sidebar_navigation do |nav| %>
    <% nav.header "Sidebar Header" %>
    <% nav.item "New Person", posts_path, class: 'active' %>
    <% nav.item "Search", posts_path %>
    <% nav.header "Sidebar Header" %>
    <% nav.item "New Person", posts_path %>
    <% nav.item "Search", posts_path %>
    <% nav.header "Sidebar Header" %>
    <% nav.item "New Person", posts_path %>
    <% nav.item "Search", posts_path %>
    <% nav.header "Sidebar Header" %>
    <% nav.item "New Person", posts_path %>
    <% nav.item "Search", posts_path %>
  <% end %>

<% end %>
